@using Area_v1.Models;

@model IEnumerable<LookUp>

<!-- Featured Product Start -->
<div class="featured-product product">
	<div class="container-fluid">
		<div class="section-header">
			<h1>Featured Product</h1>
		</div>
		<div class="row align-items-center product-slider product-slider-4">

			@{
				foreach (var item in Model)
				{
					<div class="col-lg-3">
						<div class="product-item">
							<div class="product-title">
								<a href="#">@item.ProductName</a>
								<div class="ratting">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div class="product-image">
								<a href="product-detail.html">
									<img src="~/upload/@item.ProductImage" alt="Product Image">
								</a>
								<div class="product-action">

									<a href="javascript:void(0);" onclick="addToCart(@item.ProductId)"><i class="fa fa-cart-plus"></i></a>

									<a href="#"><i class="fa fa-heart"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-price">
								<h3><span>$</span>@item.ProductPrice</h3>
								<a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
							</div>
						</div>
					</div>
				}

			}


		</div>
	</div> 
</div>
<!-- Featured Product End -->   >

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

	function addToCart(ProductId)
	{

		$.ajax({

				url:'/Home/AddToCart',

				type:'Post',

				contentype:'application/json; charset=utf-8',

				data: JSON.stringify(ProductId),

				success: function(response){
					if (response.success == false){
					alert(response.msg);

					}
						if (response.success == true){
						UpdateCartCount();

						}
				},


		});

	}

</script>


@* // 	function addToCart(productId) {

// 		$.ajax({
// 			url:'/Home/AddToCart',
// 			type: 'POST',
// 			contentType: 'application/json; charset=utf-8',
// 			data: JSON.stringify(productId),
// 			success: function(response){
// 				if (response.success == false){
// 					alert(response.msg);
// 				}
// 				if (response.success == true){
// 					UpdateCartCount();
// 				}



// 			},


// 		});

// 	}

// 
 *@









