@model Area_v1.Areas.Admin.DataModel.ShopsL

@{
    
    ViewData["Title"] = "ShopCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ShopCreate</h1>

<h4>ShopsL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/admin/Shop/CreateSubmit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">ProductName</label>
                <input asp-for="ProductName" class="form-control" name="ProductName" />
              
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">ProductDescription</label>
                <input asp-for="ProductDescription" class="form-control" name="ProductDescription" />
              
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">ProductPrice</label>
                <input asp-for="ProductPrice" class="form-control" name="ProductPrice" />
             
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label">ProductImage</label>
                <input type="file" asp-for="UploadImage" class="form-control" name="UploadImage" accept="image/*" />
              
            </div>
            <div class="form-group">
                <label asp-for="LebelId" class="control-label">LebelId</label>
                <select class="form-control" id="LookUpLebelId">
                    <option value="">---Select Lebel---</option>
                    @foreach (var lebels in ViewBag.LabelList)
                    {
                        <option value="@lebels.Value">@lebels.Text</option>


                    }

                </select>
             
            </div>
            <div class="form-group">
                <label asp-for="ProductCount" class="control-label">ProductCount</label>
                <input asp-for="ProductCount" class="form-control" name="ProductCount" />
             
            <div class="form-group">
                <label asp-for="ProductCatagory" class="control-label">ProductCatagory</label>
                <input asp-for="ProductCatagory" class="form-control" name="ProductCatagory" />
              
            </div>
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label">Is Active</label>
                    <select id="IsActive" class="form-control" name="IsActive">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


