@model Area_v1.Models.Product
@{
    ViewData["Title"] = "Shop Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShopCreate" asp-controller="Shop" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">ProductName</label>
                <input class="form-control" name="Name" id="Name" />

            </div>

            <div class="form-group">
                <label class="control-label">ProductDescription</label>
                <input class="form-control" name="Description" id="Description" />

            </div>

            <div class="form-group">
                <label class="control-label">ProductPrice</label>
                <input class="form-control" name="Price" id="Price" />

            </div>


            <div class="form-group">
                <label class="control-label">Product Catagory</label>
                <input class="form-control" name="Category" id="Catagory" />

            </div>


            <div class="form-group">
                <label class="control-label">Product Image</label>
                <input type="file" class="form-control" name="UploadImage" id="UploadImage" accept="image/*"/>

            </div>

            <br />
            <div class="form-group form-check">
                <label class="control-label" for="LableId">Lebels </label>
                <select class="form-control" id="LableId">
                    <option value="">---Select Lebel---</option>
                   
                </select>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="control-label">Is Active</label>
                <select id="IsActive" class="form-control" name="IsActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>


</script>

