@model Area_v1.ViewModel.LookUpView
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubmit" asp-controller="Products" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ProductName</label>
                <input  class="form-control" name="ProductName" />

            </div>
            <div class="form-group">
                <label class="control-label">ProductDescription</label>
                <input  class="form-control" name="ProductDescription" />

            </div>

            <div class="form-group">
                <label class="control-label">ProductPrice</label>
                <input  class="form-control" name="ProductPrice" />

            </div>



            <div class="form-group">
                <label class="control-label">ProductImage</label>
                <input class="form-control" name="ProductImage" />

            </div>

            <div class="form-group">
                <label class="control-label">ProductCatagory</label>
                <input  class="form-control" name="ProductCatagory" />

            </div>

            <div class="form-group form-check">
                <label class="form-check-label"> </label>
                    <input class="form-check-input" asp-for="IsActive" /> 

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
